:root {
  --color-fondo: #F3F3F3;
  --color-negro_nav: #000000;
  --color-negro: #3B3B3B;
  --color-blanco: #FFFFFF;
  --color-azulmain: #016BAB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* FAMILIAS TIPOGRÃFICAS */


body{
  background-color: var(--color-fondo);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-negro);
}

.logohover{
  text-decoration: none;
}

.logo{
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-azulmain);
  letter-spacing: 0.5em;
  transition: all 0.3s ease-out;
}

.logo:hover{
  color:var(--color-negro_nav);
}

h1{
  font-size: 3em;
  font-weight: 300;
  color: var(--color-azulmain);
}

h3{
  font-size: 1.20em;
  margin-right: 1em;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--color-negro);
  margin-bottom: 1.5em;
}

.description {
  font-size: 1em;
  color: var(--color-negro);
}

.exp-date{
  color: var(--color-azulmain);
}

.bajada{
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.6em;
}



/* EMPEZAMOS EL NAV */

.navbar {
  display: flex;
  height: 4em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: var(--color-blanco);
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.navbar-name {
  justify-content: flex-start;
}

.navbar-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  padding: 0.2em;
}

.navbar-links li {
  padding: 0.5em 0.7em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-links li a {
  text-decoration: none;
}

.navbar-links li a span:hover {
  color: var(--color-azulmain);
  /* font: Bold 1em Montserrat; */
}

.navbar-links li a span {
  color: var(--color-negro_nav);
  /* opacity: 1; */
}

.nav_flag:hover .arrow_download{
  transform: rotate(-90deg)
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;

    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  color: var(--color-negro);
}

li a:hover {
  color: var(--color-azulmain);
}

li:hover,
li:focus-within {
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background-color: var(--color-blanco);
  border-radius: 1em;
  visibility: hidden;
  opacity: 0;
  min-width: 10.8rem;
  position: absolute;
  transition: all 0.5s ease;
  right: 5%;
  top: 1em;
  margin-top: 1em;
  display: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0.3em 0em 0.25em 0em;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
    clear: both;
  width: 100%;
}

.dropdown_flag{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.15em;
}

.dropdown_flag_img{
  padding-right: 1em;
}

.boton_menu{
  display: none;
  background-color: var(--color-azulmain);
  min-width: 10em;
  color: var(--color-blanco);
  border: none;
  height: 30px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  padding: 1em;
  font-weight: 600;
}

.menuicon{
  width: 1.2em;
}

.mostrar {
  display: flex;
}


/* CAMBIAR ESTO PARA QUE SE VEA ACA */
/* NAVBAR LINK EN FLEX FIJARSE EL MOSTRAR QUE ONDA */

@media (max-width: 875px){
  .navbar-links{
    display: none;
    min-width: 10em;
    position: absolute;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    flex-direction: column;
    right: 5%;
    top: 3em;
    background-color: var(--color-blanco);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .navbar-links ul {
    display: block;
  }
  .navbar-links li {
    display: block;
  }
  .boton_menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 390px){
  .navbar{
    height: 5em;
    padding: 0.75em 0em;
    align-items: stretch;
  }
  .navbar-container{
    flex-direction: column;
  }
  .logo{
    letter-spacing: 0.25em;
  }
  .navbar-links{
    top: 4.27em;
    right: 50%;
    margin-right: -5em;
  }
  ul li ul{
    right: -72%;
  }
}



/* TERMINAMOS EL NAV */
/* EMPEZAMOS EL MAIN */

.sections {
  padding-top: 4em;
  width: 100%;
  margin: auto;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.main-name {
  font-size: 1em;
  letter-spacing: 6.4px; 
  color: var(--color-azulmain);
  opacity: 1;
  font-weight: 400;
}

#home {
  width: 90%;
  padding: 2em 0em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 4em);
}

.main-about{
  transform: translatey(-0.7em);
  width: 50%;
}




.image{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  width: 70%;
}

@media (max-width: 1920px){
  .image img{
    width: 100%;
  }
}


.botonCv{
  background-color: var(--color-fondo);
  margin-top: 1.5em;
  padding: 0.5em 0.75em;
  border-radius: 0px;
  font-size: 1em;
  font-weight: 400;
  border: 2px solid var(--color-azulmain);
  color: var(--color-negro);
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.botonCv:hover{
  transform: translateY(-0.2em);
  box-shadow: 0.2em 0.2em 0.0em rgba(0, 0, 0, 0.2);
}

.botonCv:active{
  transform: translateY(0em);
  box-shadow: 0.2em 0.0em 0.0em rgba(0, 0, 0, 0.2);
}

.arrow_download{
  width: 12px;
  margin-left: 0.5em;
  transition: all 0.5s ease-out;
}

.botonCv:hover .arrow_download{
  transform: rotate(-90deg)
}


@media (max-width: 768px){
  #home{
      flex-direction: column;
      justify-content: center;
  }
  .main-about{
    width: 100%;
    padding: 3em 0em;
  }
}

@media (max-width: 425px){
  .image{
    width: 90%;
  }
}

/* TERMINAMOS EL NAV */

/* EMPIEZA knowledge */

#knowledge{
  width: 90%;
  margin: auto;
  padding-top: 6em;
  margin-bottom: 2em;
}

.knowlege-img{
  width: 2.5em;
  margin-right: 1em;
}

.knowlege-each{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.knowledgeitems{
  display: grid;
  grid-gap: 2em;
  grid-row-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
}

@media (max-width: 768px){
  .knowledgeitems{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
  }

@media (max-width: 540px){
  .knowledgeitems{
    grid-template-columns: repeat(auto-fit, minmax(139px, 1fr));
  }
}
}

/* TERMINA knowledge */

/* Empieza experience */

#experience{
  width: 90%;
  margin: auto;
  padding-top: 6em;
  margin-bottom: 2em;
}

.exp-all{
  width: 90%;
  margin-left: 10%;
}

.exp-each{
  position: relative;
  width: 50%;
  margin-top: -1em;
}

.left{
  left: 0%;
  padding-right: 2em;
}

.right{
  left: 50%;
  padding-left: 2em;
}

.firstelement{
  margin-top:0;
}

.exp-title{
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

@media (max-width: 768px){
  .exp-each{
    width: 100%;
    margin-top: 2em;
  }
  .right{
    left: 0%;
    padding-left: 0em;
  }
}

/* Termina EL experience */

/* Empieza projects */

#projects{
  width: 90%;
  margin: auto;
  padding-top: 6em;
  margin-bottom: 2em;
}

.projects-each{
  position: relative;
  width: 50%;
  margin-top: 0.5em;
}

@media (max-width: 768px){
  .projects-each{
    width: 100%;
    margin-top: 2.5em;
  }
  .right{
    left: 0%;
    padding-left: 0em;
  }
}

/* Termina projects */

/* Empieza studies */

#studies{
  width: 90%;
  margin: auto;
  padding-top: 6em;
  margin-bottom: 2em;
}

.studies-each{
  position: relative;
  width: 50%;
  margin-top: 0.5em;
}

@media (max-width: 768px){
  .studies-each{
    width: 100%;
    margin-top: 2.5em;
  }
  .right{
    left: 0%;
    padding-left: 0em;
  }
}

/* Termina studies */

/* Empieza courses */

#courses{
  width: 90%;
  margin: auto;
  padding-top: 6em;
  margin-bottom: 2em;
}

.courses-each{
  position: relative;
  width: 50%;
  margin-top: 0.5em;
}

@media (max-width: 768px){
  .courses-each{
    width: 100%;
    margin-top: 2.5em;
  }
  .right{
    left: 0%;
    padding-left: 0em;
  }
}

/* Termina courses */

/* Empieza contact */

#contact{
  width: 90%;
  margin: auto;
  padding-top: 5em;
  margin-bottom: 3em;
  /* min-height: calc(100vh - 10em); */
}

.contact_conteiner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact_form{
  margin-top: 1.5em;
}

.contact_left{
  width: 46.4%;
}

.contact_form input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 1em 0.75em;
  display: inline-block;
  border: 0px solid;
  border-radius: 0px;
  background-color: var(--color-blanco);
  color: var(--color-negro);
  margin-bottom: 1em;
  font-family: inherit;
  font-size: 0.9em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.contact_form textarea{
  height: 25vh;
  min-height: 3.4em;
}

.flex{
  display: flex;
  flex-direction: column;
}
.contact_form input[type=submit] {
  padding: 0.5em 2em;
  border-radius: 0px;
  font-size: 1em;
  font-weight: 400;
  border: 0px solid var( --color-azulmain);
  color: var( --color-blanco);
  background-color: var(--color-azulmain);
  font-family: inherit;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.3s ease-out;
}

.contact_form input[type=submit]:hover{
  transform: translateY(-0.2em);
  box-shadow: 0.2em 0.2em 0.0em rgba(0, 0, 0, 0.2);
}

.contact_form input[type=submit]:active{
  transform: translateY(0em);
  box-shadow: 0.2em 0.0em 0.0em rgba(0, 0, 0, 0.2);
}

/* **********Empieza contact_right************* */

.contact_right{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circlewhite{
  width: 4em;
  height: 4em;
  border-radius: 4em;
  background-color: var(--color-blanco);
  position: absolute;
  box-shadow: 0px 0px 7px rgba(145, 145, 145, 0.20);
}

.circlewhite img{
  filter: grayscale(100%);
}

.circlewhite img:hover{
  filter: grayscale(0%);
}



.circle_one{
  left: 8%;
  top: 24%;
}

.circle_two{
  left: 82%;
  top: 44%;
}

.circle_three{
  left: 14%;
  top: 79%;
}

.circle_four{
  left: 85%;
  top: 78%;
}

.contact_photo{
  position: absolute;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_photo img{
  width: 70%;
}

.contact_item{
  display: flex;
  margin: auto;
  margin-top: 15%;
}

#contact .contact_gaston {
  width: 80%;
}

@media (max-width: 1920px){
  #contact .contact_gaston{
    width: 100%;
  }
}




.glove{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 15em;
  height: 5em;
  background-color: var(--color-blanco);
  box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  top: 3%;
  left: 50%;
  padding: 0.8em;
}

.glove::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 10%;
  border-width: 15px 15px 0 15px;
  border-style: solid;
  border-color: var(--color-blanco) transparent;
	filter: drop-shadow(0.2em 0.1em 0.1rem rgba(0, 0, 0, 0.05));
}


@media (max-width: 1920px){
  .circle_one{
    left: -6%;
    top: 22%;
  }
  
  .circle_two{
    left: 90%;
    top: 41%;
  }
  
  .circle_three{
    left: 2%;
    top: 76%;
  }
  
  .circle_four{
    left: 95%;
    top: 79%;
  }
}

@media (max-width: 1440px){
  .circle_one{
    left: -6%;
    top: 22%;
  }
  
  .circle_two{
    left: 90%;
    top: 41%;
  }
  
  .circle_three{
    left: 2%;
    top: 76%;
  }
  
  .circle_four{
    left: 94%;
    top: 76%;
  }
}

@media (max-width: 1300px){
  .glove{
    left: 45%;
    top: -4%;
  }
  .circle_one {
    left: -9%;
    top: 20%;
  }
  .circle_two {
    left: 90%;
    top: 39%;
  }
  .circle_three {
    left: 0%;
    top: 78%;
  }
  .circle_four {
    left: 95%;
    top: 76%;
  }
}

@media (max-width: 1140px){
  .glove{
    left: 35%;
    top: -10%;
  }
  .circle_one {
    left: -8%;
    top: 19%;
  }
  .circle_two {
    left: 90%;
    top: 38%;
  }
  .circle_three {
    left: -2%;
    top: 77%;
  }
  .circle_four {
    left: 94%;
    top: 75%;
  }
}

@media (max-width: 990px){
  .glove {
    left: 32%;
    top: -13%;
  }
  .circle_one {
    left: -15%;
    top: 13%;
  }
  .circle_two {
    left: 90%;
    top: 36%;
  }
  .circle_three {
    left: -7%;
    top: 77%;
  }
  .circle_four {
    left: 95%;
    top: 75%;
  }
}

@media (max-width: 920px){
  .glove {
    left: 20%;
    top: -15%;
  }
  .circle_one {
    left: -17%;
    top: 13%;
  }
  .circle_two {
    left: 90%;
    top: 35%;
  }
  .circle_three {
    left: -7%;
    top: 76%;
  }
  .circle_four {
    left: 93%;
    top: 74%;
  }
}

@media (max-width: 850px){
  .glove {
    left: 15%;
    top: -18%;
  }
  .circle_one {
    left: -20%;
    top: 11%;
  }
  .circle_three {
    left: -9%;
    top: 77%;
}
}

@media (max-width: 810px){
  .glove {
    left: 7%;
    top: -20%;
  }
  .circle_three {
    left: -11%;
    top: 75%;
}
}


@media (max-width: 768px){
  .contact_conteiner{
      flex-direction: column;
  }
  .contact_right{
    min-height: 32em;
    width: 100%;
  }
  .contact_left {
    width: 100%;
  }
  .circle_one{
    left: -6%;
    top: 22%;
  }
  .circle_two{
    left: 90%;
    top: 41%;
  }
  .circle_three{
    left: 2%;
    top: 76%;
  }
  .circle_four{
    left: 94%;
    top: 76%;
  }
  .glove{
    top: 3%;
    left: 50%;
  }
  #contact{
    margin-bottom: 1em;
  }
}

@media (max-width: 650px){
  .contact_right{
    min-height: 28em;
    width: 100%;
  }
  .circle_one {
    left: -8%;
    top: 20%;
  }
  .circle_three {
    left: 1%;
    top: 78%;
  }
  .circle_four {
    left: 95%;
    top: 76%;
  }
}

@media (max-width: 550px){
  .contact_right{
    min-height: 27em;
    padding-top: 1em;
  }
  .glove {
    top: -7%;
    left: 13%;
  }
  .glove::after {
    left: 12%;
  }
  .circle_one {
    left: -11%;
    top: 17%;
  }
  .circle_two {
    left: 91%;
    top: 39%;
}
  .circle_three {
    left: -2%;
    top: 77%;
  }
  .circle_four {
    left: 95%;
    top: 76%;
  }
}

@media (max-width: 480px){
  .contact_right{
    min-height: 25em;
  }
  .glove {
    top: -7%;
    left: 13%;
  }
  .glove::after {
    left: 10%;
  }
  .circle_one {
    left: -13%;
    top: 15%;
  }
  .circle_two {
    left: 90%;
    top: 37%;
  }
    .circle_three {
      left: -2%;
      top: 77%;
  }
  .circle_four {
    left: 95%;
    top: 75%;
  }
}

@media (max-width: 420px){
  .contact_right{
    min-height: 24em;
    padding-top: 2em;
  }
  .glove {
    top: -19%;
    left: 11%;
  }
  .circle_one {
    left: -16%;
    top: 14%;
  }
  .circle_two {
    left: 90%;
    top: 37%;
  }
  .circle_three {
    left: -7%;
    top: 76%;
  }
  .circle_four {
    left: 94%;
    top: 73%;
  }
}

@media (max-width: 412px){
  .contact_right{
    min-height: 24em;
    padding-top: 2em;
  }
  .glove {
    top: -19%;
    left: 11%;
  }
  .circle_one {
    left: -18%;
    top: 12%;
  }
  .circle_two {
    left: 90%;
    top: 37%;
  }
  .circle_three {
    left: -8%;
    top: 77%;
  }
  .circle_four {
    left: 94%;
    top: 73%;
  }
}

@media (max-width: 360px){
  .glove {
    top: -33%;
    left: -9%;
  }
  .glove::after {
    left: 60%;
  }
  .circle_one {
    left: -21%;
    top: 11%;
  }
  .circle_two {
    left: 91%;
    top: 33%;
  }
  .circle_three {
    left: -10%;
    top: 75%;
  }
  .circle_four {
    left: 94%;
    top: 73%;
}
}

@media (max-width: 325px){
  .glove {
    top: -39%;
    left: -9%;
}
.circle_one {
  left: -25%;
  top: 9%;
  }
  .circle_two {
    left: 91%;
    top: 31%;
  }
  .circle_three {
    left: -14%;
    top: 74%;
  }
  .circle_four {
    left: 93%;
    top: 72%;
  }
}

@media (max-width: 300px){
  .contact_right{
    min-height: 23em;
    padding-top: 4em;
}
  .glove {
    top: -52%;
    left: -28%;
}
  .circle_one {
    left: -20%;
    top: 10%;
  }
  .circle_two {
    left: 91%;
    top: 33%;
  }
  .circle_three {
    left: -10%;
    top: 75%;
  }
  .circle_four {
    left: 94%;
    top: 73%;
}
}

@media (max-width: 285px){
  .glove {
    top: -52%;
    left: -30%;
}
  .circle_one {
    left: -29%;
    top: 4%;
  }
  .circle_two {
    left: 88%;
    top: 30%;
  }
  .circle_three {
    left: -18%;
    top: 75%;
  }
  .circle_four {
    left: 93%;
    top: 73%;
}
}



/* Termina contact */

/* EMPIEZA EL FOOTER */


footer {
  background-color: var(--color-azulmain);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  height: 6em;
}

footer .name {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-blanco);
  letter-spacing: 0.5em;
}

@media (max-width: 375px){
  footer .name {
    letter-spacing: 0.25em;
  }
}





footer .email {
  color: var(--color-blanco);
  justify-content: flex-end;
}

@media (max-width: 660px){
  footer{
    flex-direction: column;
    justify-content: center;
  }
}

/* TERMINAMOS EL FOOTER */


